@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: rgb(203, 107, 147);
  margin: 0;
  font-family: "Quantico", sans-serif;
}

.container {
  margin: 20px 20px;
}

h1 {
  color: pink;
  background-color: black;
  text-align: center;
  padding: 20px;
  font-family: "Quantico", sans-serif;
  border-radius: 10px;
  margin: 10px 0;
}

h2 {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 160px;
}

form {
  text-align: left;
  margin: 20px auto;
  width: 50%; /* Center the form with a fixed width */
}

label {
  display: block; /* Ensure labels are on their own line */
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

input[type="text"],
input[type="checkbox"] {
  margin-bottom: 5px; /* Add spacing between inputs */
}

button {
  background-color: black;
  color: pink;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(80, 80, 80);
}

.summary {
  position: fixed;
  bottom: 0;
  background-color: white;
  padding-left: 20px;
  height: 150px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-align: center;
  margin-bottom: 20px;
}

.summary p {
  font-size: 16px;
  margin: 10px 0;
}

#back-button {
  padding: 5px 10px;
  font-size: 14px; 
}
